<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="localeCountry" value="US"/>
    <property name="localeLanguage" value="en"/>
    <property name="severity" value="warning"/>
    <property name="tabWidth" value="4"/>
    <property name="fileExtensions" value="java, xml, properties, yml, yaml"/>

    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern" value="module\-info\.java$"/>
    </module>

    <module name="FileLength">
        <property name="fileExtensions" value="java"/>
        <property name="max" value="500"/>
    </module>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="TreeWalker">
        <!-- Annotation Checkers (https://checkstyle.org/config_annotation.html) -->
        <module name="AnnotationLocation"/>
        <module name="MissingDeprecated"/>

        <!-- Block Checks (https://checkstyle.org/config_blocks.html) -->
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignored"/>
            <property name="commentFormat" value="ignored"/>
        </module>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>

        <!-- Class Design Checks (https://checkstyle.org/config_design.html#Content) -->
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>
        <module name="MutableException"/>
        <module name="OneTopLevelClass"/>
        <module name="ThrowsCount"/>
        <module name="VisibilityModifier"/>

        <!-- Coding Checks (https://checkstyle.org/config_coding.html) -->
        <module name="AvoidDoubleBraceInitialization"/>
        <module name="AvoidNoArgumentSuperConstructorCall"/>
        <module name="CovariantEquals"/>
        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="FallThrough"/>
        <module name="HiddenField">
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
            <property name="setterCanReturnItsClass" value="true"/>
        </module>
        <module name="IllegalToken"/>
        <module name="InnerAssignment"/>
        <module name="MagicNumber"/>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="MultipleStringLiterals"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="NestedForDepth"/>
        <module name="NestedIfDepth">
            <property name="max" value="2"/>
        </module>
        <module name="NestedTryDepth"/>
        <module name="NoArrayTrailingComma"/>
        <module name="NoClone"/>
        <module name="NoEnumTrailingComma"/>
        <module name="NoFinalizer"/>
        <module name="OneStatementPerLine"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="PackageDeclaration"/>
        <module name="ParameterAssignment"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="UnnecessaryParentheses"/>
        <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
        <module name="UnnecessarySemicolonInEnumeration"/>
        <module name="UnnecessarySemicolonInTryWithResources"/>
        <module name="VariableDeclarationUsageDistance"/>

        <!-- Import Checks (https://checkstyle.org/config_imports.html) -->
        <module name="AvoidStarImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!--Metrics Checks (https://checkstyle.org/config_metrics.html) -->
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassDataAbstractionCoupling"/>
        <module name="ClassFanOutComplexity">
            <property name="max" value="30"/>
            <property name="excludedPackages" value="lombok,javax.money,jakarta.persistence,java.time"/>
        </module>
        <module name="CyclomaticComplexity"/>
        <module name="JavaNCSS"/>
        <module name="NPathComplexity"/>

        <!-- Miscellaneous Checks (https://checkstyle.org/config_misc.html) -->
        <module name="ArrayTypeStyle"/>
        <module name="CommentsIndentation"/>
        <module name="Indentation"/>
        <module name="OuterTypeFilename"/>
        <module name="UpperEll"/>

        <!-- Modifiers Checks (https://checkstyle.org/config_modifier.html) -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <!-- Naming Checks (https://checkstyle.org/config_naming.html) -->
        <module name="AbbreviationAsWordInName"/>
        <module name="CatchParameterName"/>
        <module name="ClassTypeParameterName">
            <property name="format" value="(^([A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[Type])|(SELF)$)"/>
        </module>
        <module name="ConstantName"/>
        <module name="InterfaceTypeParameterName">
            <property name="format" value="(^([A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[Type])|(SELF)$)"/>
        </module>
        <module name="LambdaParameterName"/>
        <module name="LocalVariableName">
            <property name="allowOneCharVarInForLoop" value="true"/>
        </module>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="MethodTypeParameterName">
            <property name="format" value="(^([A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[Type])|(SELF)$)"/>
        </module>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>

        <!-- Size Checks (https://checkstyle.org/config_sizes.html) -->
        <module name="MethodCount">
            <property name="maxTotal" value="30"/>
        </module>
        <module name="MethodLength">
            <property name="tokens" value="METHOD_DEF"/>
            <property name="max" value="50"/>
        </module>
        <module name="MethodLength">
            <property name="tokens" value="CTOR_DEF"/>
            <property name="max" value="20"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="6"/>
            <property name="tokens" value="METHOD_DEF"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="10"/>
            <property name="tokens" value="CTOR_DEF"/>
        </module>

        <!-- Whitespace Checks (https://checkstyle.org/config_whitespace.html) -->
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
            <property name="allowMultipleEmptyLines" value="false"/>
            <property name="allowMultipleEmptyLinesInsideClassMembers" value="false"/>
        </module>
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoLineWrap"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="ParenPad"/>
        <module name="SingleSpaceSeparator"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <property name="allowEmptyConstructors" value="true"/>
            <property name="allowEmptyLambdas" value="true"/>
            <property name="allowEmptyMethods" value="true"/>
            <property name="allowEmptyTypes" value="true"/>
            <property name="allowEmptyLoops" value="true"/>
            <property name="ignoreEnhancedForColon" value="false"/>
        </module>
        <module name="SuppressionCommentFilter"/>
        <module name="SuppressWarningsHolder" />
        <module name="IllegalType">
            <property name="illegalClassNames" value="java.util.Date, java.sql.Date, java.sql.Timestamp, java.sql.Time, java.util.Calendar"></property>
        </module>
        <module name="IllegalType">
            <property name="tokens" value="PARAMETER_DEF, VARIABLE_DEF"></property>
        </module>
        <module name="Regexp">
            <property name="format" value="acknowledge\("/>
            <property name="message" value="Should use @AcknowledgmentAwareKafkaListener instead of explicit kafka acknowledgement"/>
            <property name="illegalPattern" value="true"/>
        </module>
        <module name="Regexp">
            <property name="format" value="nack\("/>
            <property name="message" value="Should use @AcknowledgmentAwareKafkaListener instead of explicit kafka acknowledgement"/>
            <property name="illegalPattern" value="true"/>
        </module>
    </module>
    <module name="SuppressWarningsFilter" />
</module>
